{% extends "AppCoder/padre.html" %}
 



{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


{% block titulo %}

Registro de Wods 
<script>
    function showPopup() {
        var popup = document.createElement("div");
        cerrar = '"document.getElementById( ' + "'modal'" + ").style.display='none'" + '"'
        popup.innerHTML = "<p>Recordá que los tipos de wods son:<br>TABATA (20'' de Trabajo por 10'' de descanso)<br>EMOM (máximas repeticiones por minuto)<br>FOR TIME (Completar repeticiones en el menor tiempo posible)<br>AMRAP (Todas las repetciones que se puedan hacer en el tiempo dado)</p> <button type='button' class='btn btn-secondary' onclick= " + cerrar +  " >X</button>";
        popup.id = "modal"
        popup.style.backgroundColor = "white";
        popup.style.padding = "20px";
        popup.style.position = "fixed";
        popup.style.top = "50%";
        popup.style.left = "50%";
        popup.style.transform = "translate(-50%, -50%)";
        popup.style.boxShadow = "0 0 10px rgba(0, 0, 0, 0.5)";
        document.body.appendChild(popup);
      }
</script>
 
<button onclick="showPopup()" class="btn btn-secondary btn-xl" type="Submit">  
    <span>?</span>
</button> 

{% endblock %} 

{% block formulario %}
<div class="row gx-5 justify-content-center"> 
<form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
     

    <div> 
        <div class="form-floating mb-3">
            <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" name="{{ formulario1.nombre.name }}"/>  
            <label for="name">Nombre del Wod</label>
            <div class="invalid-feedback" data-sb-feedback="name:required">El nombre del wod es obligatorio</div>
        </div>
        
    </div>
    <div class="row" > 
        <div class="col-lg-4 col-xl-4">
            <div class="form-floating mb-3"> 
                <select class="form-control" id="tipo" data-sb-validations="required" name="{{ formulario1.tipo.name }}">                
                    <option value="" selected disabled>Seleccione una opción</option>
                    {% for option in formulario1.tipo.field.choices %}
                        <option value="{{ option.0 }}">{{ option.1 }}</option>
                    {% endfor %}
                </select>  
            </div>
        </div>
        
        <div class="col-lg-4 col-xl-4">
            <div class="form-floating mb-3">
                <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" name="{{ formulario1.duracion.name }}"/>  
                <label for="name">Duración del Wod</label>
                <div class="invalid-feedback" data-sb-feedback="name:required">La duración del wod es obligatorio</div>
            </div> 
        </div>
        
        <div class="col-lg-4 col-xl-4">
            <div class="form-floating mb-3">
                <select class="form-control" id="tipo" data-sb-validations="required" name="{{ formulario1.rondas.name }}">                
                    <option value="" selected disabled>Seleccione una opción</option>
                    {% for option in formulario1.rondas.field.choices %}
                        <option value="{{ option.0 }}">{{ option.1 }}</option>
                    {% endfor %}
                </select> 
            </div> 
        </div>
    </div> 
    
    <div class="row" > 
        <div class="col-lg-4 col-xl-4">
            <div class="form-floating mb-3"> 
                <select class="form-control" id="tipo" data-sb-validations="required" name="{{ formulario1.movimiento1.name }}">                
                    <option value="" selected disabled>Seleccione una opción</option>
                    {% for option in formulario1.movimiento1.field.choices %}
                        <option value="{{ option.0 }}">{{ option.1 }}</option>
                    {% endfor %}
                </select>  
            </div>
        </div>
        
        <div class="col-lg-4 col-xl-4">
            <div class="form-floating mb-3">
                <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" name="{{ formulario1.cantidad1.name }}"/>  
                <label for="name">Repetciones</label>
                <div class="invalid-feedback" data-sb-feedback="name:required">La duración del wod es obligatorio</div>
            </div> 
        </div> 
 
            <!-- botón "Agregar" -->
            <div class="col-lg-4 col-xl-4"> 
                <div class="form-floating mb-3">
                <button  type="button"  class="btn btn-secondary btn-xl" id="add-optional-fields-2">Agregar Movimiento</button>
                </div>
            </div>
    </div> 

    <div  id="optional-fields-2" hidden>
        <div class="row" > 
            <div class="col-lg-4 col-xl-4">
                <div class="form-floating mb-3"> 
                    <select class="form-control" id="tipo"  name="{{ formulario1.movimiento2.name }}">                
                        <option value="" selected disabled>Seleccione una opción</option>
                        {% for option in formulario1.movimiento2.field.choices %}
                            <option value="{{ option.0 }}">{{ option.1 }}</option>
                        {% endfor %}
                    </select>  
                </div>
            </div>
            
            <div class="col-lg-4 col-xl-4">
                <div class="form-floating mb-3">
                    <input class="form-control" id="name" type="text" placeholder="Enter your name..."  name="{{ formulario1.cantidad2.name }}"/>  
                    <label for="name">Repetciones</label> 
                </div> 
            </div> 

            <!-- botón "Agregar" -->
            <div class="col-lg-4 col-xl-4"> 
                <div class="form-floating mb-3">
                <button  type="button" class="btn btn-secondary btn-xl"  id="add-optional-fields-3">Agregar Movimiento</button>
                </div>
            </div>
        </div> 

        <div  id="optional-fields-3" hidden> 
            <div class="row" > 
                <div class="col-lg-4 col-xl-4">
                    <div class="form-floating mb-3"> 
                        <select class="form-control" id="tipo" data-sb-validations="required" name="{{ formulario1.movimiento3.name }}">                
                            <option value="" selected disabled>Seleccione una opción</option>
                            {% for option in formulario1.movimiento3.field.choices %}
                                <option value="{{ option.0 }}">{{ option.1 }}</option>
                            {% endfor %}
                        </select>  
                    </div>
                </div>
                
                <div class="col-lg-4 col-xl-4">
                    <div class="form-floating mb-3">
                        <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" name="{{ formulario1.cantidad3.name }}"/>  
                        <label for="name">Repetciones</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">La duración del wod es obligatorio</div>
                    </div> 
                </div> 
                
            <!-- botón "Agregar" -->
            <div class="col-lg-4 col-xl-4"> 
                <div class="form-floating mb-3">
                <button  type="button"  class="btn btn-secondary btn-xl" id="add-optional-fields-4">Agregar Movimiento</button>
                </div>
            </div>

            </div> 
            
            <div  id="optional-fields-4" hidden> 
                <div class="row" > 
                    <div class="col-lg-4 col-xl-4">
                        <div class="form-floating mb-3"> 
                            <select class="form-control" id="tipo" data-sb-validations="required" name="{{ formulario1.movimiento4.name }}">                
                                <option value="" selected disabled>Seleccione una opción</option>
                                {% for option in formulario1.movimiento4.field.choices %}
                                    <option value="{{ option.0 }}">{{ option.1 }}</option>
                                {% endfor %}
                            </select>  
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-xl-4">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" name="{{ formulario1.cantidad4.name }}"/>  
                            <label for="name">Repetciones</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">La duración del wod es obligatorio</div>
                        </div> 
                    </div> 

                    
            <!-- botón "Agregar" -->
            <div class="col-lg-4 col-xl-4"> 
                <div class="form-floating mb-3">
                <button  type="button"  class="btn btn-secondary btn-xl" id="add-optional-fields-5">Agregar Movimiento</button>
                </div>
            </div>


                </div>
            </div>
            
            <div  id="optional-fields-5" hidden> 
                <div class="row" > 
                    <div class="col-lg-4 col-xl-4">
                        <div class="form-floating mb-3"> 
                            <select class="form-control" id="tipo" data-sb-validations="required" name="{{ formulario1.movimiento5.name }}">                
                                <option value="" selected disabled>Seleccione una opción</option>
                                {% for option in formulario1.movimiento5.field.choices %}
                                    <option value="{{ option.0 }}">{{ option.1 }}</option>
                                {% endfor %}
                            </select>  
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-xl-4">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" name="{{ formulario1.cantidad5.name }}"/>  
                            <label for="name">Repetciones</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">La duración del wod es obligatorio</div>
                        </div> 
                    </div> 

                     
                </div> 
        </div>
    </div>
</div>
    
 

    
    
    <input class="btn btn-primary btn-xl" type="Submit" value="Enviar">  
</form> 
</div>

<!-- colocar antes del cierre del cuerpo -->
<script>
    const addOptionalFieldsButton2 = document.getElementById('add-optional-fields-2');
    const optionalFields2 = document.getElementById('optional-fields-2');
  
    addOptionalFieldsButton2.addEventListener('click', () => {
      optionalFields2.hidden = !optionalFields2.hidden;
    });
</script>

<!-- colocar antes del cierre del cuerpo -->
<script>
    const addOptionalFieldsButton3 = document.getElementById('add-optional-fields-3');
    const optionalFields3 = document.getElementById('optional-fields-3');
  
    addOptionalFieldsButton3.addEventListener('click', () => {
      optionalFields3.hidden = !optionalFields3.hidden;
    });
</script>
<!-- colocar antes del cierre del cuerpo -->
<script>
    const addOptionalFieldsButton4 = document.getElementById('add-optional-fields-4');
    const optionalFields4 = document.getElementById('optional-fields-4');
  
    addOptionalFieldsButton4.addEventListener('click', () => {
      optionalFields4.hidden = !optionalFields4.hidden;
    });
</script>
<!-- colocar antes del cierre del cuerpo -->
<script>
    const addOptionalFieldsButton5 = document.getElementById('add-optional-fields-5');
    const optionalFields5 = document.getElementById('optional-fields-5');
  
    addOptionalFieldsButton5.addEventListener('click', () => {
      optionalFields5.hidden = !optionalFields5.hidden;
    });
</script>

{% endblock %}




