{% extends "AppCoder/Wod/listaWods.html" %}

{% block botonera %}
<div class="container px-5 col-lg-4" >   
<form href="{% url 'Filtrar Wod Tipo' %}" id="formulario" method="GET"> 
    <label class="form-text">Tipo: </label>
    <select name="tipo" id="tipo"> 
        <option value="">Tipo</option>
        <option value="TABATA">TABATA</option>
        <option value="EMOM">EMOM</option>
        <option value="FOR TIME">FOR TIME</option>
        <option value="AMRAP">AMRAP</option>
    </select>
     
    <button class="btn btn-primary btn-xl" type="submit" id="enviar" disabled>Buscar</button>
    <br>
    <a class="btn btn-secondary btn-xl"  href="{% url 'Ver Wods' %}">Limpiar</a> 
</form>
</div>
{% endblock %}

{% block formulario %}    


<p class="form-text"> Los wods del tipo {{tipo}} son: </p>                         
                       
<table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Duración</th>
        <th> </th>
        {% if request.user.is_autenticated %}
        <th>Acciones</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for x in wods %}
        <tr>
          <td>
          <a  href="{% url 'Filtrar Wod' x.nombre %}"  > {{ x.nombre }} </a> </td>
          <td>{{ x.tipo }}</td>
          <td>{{ x.duracion }}</td>
          <td> 
            {% if request.user.is_authenticated %}
            <a class="btn btn-outline-light btn-xl" href="{% url 'Editar Wod' x.nombre %}"  > &#128397  </a> 
            <a  class="btn btn-outline-light btn-xl" href="{% url 'Borrar Wod' x.nombre %}"  > &#10060 </a> 
            {% endif %}
            </td>
          <td> 
            {% if request.user.is_autenticated %}
            <a class="btn btn-primary btn-xl" href="{% url 'Score del Dia' x.nombre %}"  > Cargar Score </a> 
            <a  class="btn btn-primary btn-xl" href="{% url 'Dejar Comentario'  x.nombre %}"  > Comentar </a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table> 

  
<script>
  const formulario = document.getElementById('formulario');
  const selectTipo = document.getElementById('tipo');
  const botonEnviar = document.getElementById('enviar');
  
  selectTipo.addEventListener('change', function() {
    botonEnviar.disabled = !selectTipo.value;
  });
  
  formulario.addEventListener('submit', function() {
    botonEnviar.disabled = true;
  });

</script>

{%endblock%}