{% extends "AppCoder/padre.html" %}


{% block titulo%}
Hola!
{% endblock %}

{% block formulario %}   
Mi nombre es Matias Vega, soy ingeniero en informática y actualmente trabajo como Project Leader. 
Nunca tuve experiencia con el desarrollo, menos con Python. Este fue mi primer acercamiento.
<br><br>
Además, soy coach de Crossfit. Por lo tanto, decidí sumar mis dos ramas de la vida.
<br><br>
En esta aplicación se pueden consultar las rutinas del día (Wod) y cada movimiento que la compone. 
Además, se puede obtener un ranking de atletas y los mismos pueden competir entre sí  
{%endblock%}