{% extends "AppCoder/padre.html" %}

{% block titulo %}
Listado de Wods
{% endblock %}

{% block botonera %}
Encontrá los wods más divertidos para realizar
<br>desafiate a vos y a tus amigos! 
<br>
<a class="btn btn-primary btn-xl"  href="{% url 'Crear Wod' %}">Crear Wod</a> 
<a class="btn btn-primary btn-xl"  href="{% url 'Crear Score' %}">Cargar Score</a> 
{% endblock %}

{% block formulario %}

Estos son los últimos wods que se cargaron:
<br>
{% for x in listaWods %}
    {{x}} 
    <br> 
{% endfor %}

{% endblock %}
