{% extends "AppCoder/listaMovimientos.html" %}

{% block formulario %}    


<form href="{% url 'Filtrar Movimiento' %}" method="GET"> 
    <label class="form-text">Dificultad: </label>
    <select name="dificultad" id="dificultad">  
        <option value="">Dificultad</option>
        <option value="Facil">Facil</option>
        <option value="Medio">Medio</option>
        <option value="Dificil">Dificil</option> 
    </select>
    
    <input class="btn btn-primary btn-xl" type="submit" value="Buscar"> 
    
    <a class="btn btn-secondary btn-xl"  href="{% url 'Ver Movimientos' %}">Limpiar</a> 
</form>

<p class="form-text"> Los movimientos con dificultad {{dificultad}} son: </p>   <br>                        
                            
{% for x in movimiento %}
    <p class="form-text">  {{x}} </p>  
    <br> 
{% endfor %}

{%endblock%}