{% extends "AppCoder/listaWods.html" %}

{% block formulario %}    
<form href="{% url 'Filtrar Wod' %}" method="GET"> 
    <label class="form-text">Tipo: </label>
    <select name="tipo" id="tipo"> 
        <option value="">Tipo</option>
        <option value="TABATA">TABATA</option>
        <option value="EMOM">EMOM</option>
        <option value="FOR TIME">FOR TIME</option>
        <option value="AMRAP">AMRAP</option>
    </select>
    
    <input class="btn btn-primary btn-xl" type="submit" value="Buscar">
    
    <a class="btn btn-secondary btn-xl"  href="{% url 'Ver Wods' %}">Limpiar</a> 
</form>

<br>

<p class="form-text"> Los wods del tipo {{tipo}} son: </p>><br>                        
                            
{% for x in wod %}
    <p class="form-text">  {{x}} </p>  
    <br> 
{% endfor %}

{%endblock%}