{% extends "AppCoder/padre.html" %} 

{% block formulario %} 

        <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="/media/{{ movimiento.imagen }}" alt="..." /></div>
                <div class="col-lg-6">
                    <h2 class="fw-bolder"> {{movimiento.nombre}} 
                    {% if request.user.is_authenticated %}
                        <a class="btn btn-outline-primary btn-xl" href="{% url 'Editar Movimiento' movimiento.nombre %}"  > Editar  </a> 
                        <a  class="btn btn-outline-primary btn-xl" href="{% url 'Borrar Movimiento' movimiento.nombre %}"  > Eliminar </a>  
                    {% endif %}</h2>
                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">{{movimiento.dificultad.upper}}</div>
                    <p class="lead fw-normal text-muted mb-0">{{ movimiento.descripcion}} </p>  
                    <br> <br>
                    <a class="btn btn-secondary" href="{{movimiento.explicacion}}" > Ver video con explicación </a> 

                </div>
            </div>
        </div>

        
        <h3> Adaptaciones 
            <a  class="btn btn-outline-primary btn-xl" href="{% url 'Cargar Adaptacion Movimiento' movimiento.nombre %}"  > Cargar Adaptacion </a>
        </h3>  
            {% for adaptacion in listaAdaptacion  %}
            <p>  {{adaptacion.nombre}}: {{adaptacion.descripcion}} </p>
            {% endfor %}


<br>
 

<div> 
    <a class="btn btn-secondary"  href="{% url 'Ver Movimientos' %}">Volver a todos los Movimientos</a>
</div>

{% endblock %}