{% extends "AppCoder/padre.html" %}

{% block titulo %}
Movimientos

{% if request.user.is_staff %}
<a class="btn btn-primary btn-xl"  href="{% url 'Crear Movimientos' %}">Crear</a> 
{% endif %}
{% endblock %}

{% block botonera %}
<div class="container px-5 col-lg-4" >   
<form action="/AppCoder/filtrarMovimiento/" id="formulario" method="GET"> 
    <label class="form-text">Dificultad: </label>
    <select name="dificultad" id="dificultad">  
        <option value="">Dificultad</option>
        <option value="Facil">Facil</option>
        <option value="Normal">Normal</option>
        <option value="Dificil">Dificil</option> 
    </select>
     <br>
    <button class="btn btn-primary btn-xl" type="submit" id="enviar" disabled>Buscar</button>
</form>

</div> 
{% endblock %}

{% block formulario %}

<section class="py-5">
    <div class="container px-5">
        <h2 class="fw-bolder fs-5 mb-4">Todos nuestros movimientos:</h2>
        <div class="row gx-5">
            {% for x in listaMovimientos %}
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    {% if x.imagen %}
                    <img class="card-img-top" src="/media/{{x.imagen}}" alt="..." />
                    {% else %}
                    <img class="card-img-top" src="/media/avatarSinAvatar.jpg" alt="..." />
                    {% endif %}
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">{{x.dificultad.upper}}</div>
                        <a class="text-decoration-none link-dark stretched-link" href="{% url 'Filtrar Movimiento' x.nombre %}"><div class="h5 card-title mb-3">{{x.nombre}}</div></a>
                        <p class="card-text mb-0">{{x.descripcion}}</p>
                    </div> 
                </div>
            </div> 
            {% endfor %}
        </div> 
    </div>
</section>

<script>
    const formulario = document.getElementById('formulario');
    const selectTipo = document.getElementById('dificultad');
    const botonEnviar = document.getElementById('enviar');
    
    selectTipo.addEventListener('change', function() {
      botonEnviar.disabled = !selectTipo.value;
    });
    
    formulario.addEventListener('submit', function() {
      botonEnviar.disabled = true;
    });
  
  </script>

{% endblock %}
