{% extends "AppCoder/listaAtletas.html" %}

{% block formulario %}    
<form href="{% url 'Filtrar Atleta' %}" method="GET">
    <input type="text" name = "apellido">

    <input class="btn btn-primary btn-xl" type="submit" value="Buscar">
    
    <a class="btn btn-secondary btn-xl"  href="{% url 'Ver Atletas' %}">Limpiar</a> 
</form>

<p class="form-text">  Los atletas con apellido {{apellido}} son: </p>   <br>                        
                            
{% for x in atleta %}
    <p class="form-text">  {{x}} </p> 
    <br> 
{% endfor %}

{%endblock%}